.rvmrc
.gems/*
.ruby-version
.ruby-gemset
.rbenv-gemsets
.bundle
db/*.sqlite3
db/sphinx/*
db/schema.rb
tmp/*
*.tmp*
config/*.yml
.DS_Store
log/*
gitflow
config/environments/production.rb
config/environments/staging.rb
config/deploy.rb
